@import "../../styles/config";

.reviews-container {
  padding: 100px 20px 130px 20px;
  background-color: rgba($bg-color-1, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  .reviews-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    h2 {
      text-align: center;
      width: auto;
      color: $brown-color;
      padding: 0;
      margin: 0;
      font-size: 45px;
      font-weight: lighter;
    }
    p {
      color: $brown-color;
      font-size: 22px;
      margin-bottom: 70px;
    }
  }
  .review {
    display: flex;
    gap: 20px;
  }
}
.work-card {
  background-color: rgba($gray-color, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 25px;
  padding: 50px;
  box-shadow: 4px 4px 4px rgba($gray-color, 0.3);
  max-width: 580px;
  .top-card-section {
    .user-rate-box {
      font-size: 22px;
    }
    .user-review-box {
      font-size: 24px;
    }
  }
  .bottom-card-section {
    display: flex;
    .user-img-box {
      img {
        width: 80px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
    .user-info-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .user-name-box {
        font-size: 25px;
        font-weight: bolder;
        margin: 0;
        padding: 0;
      }
      .user-city-box {
        font-size: 18px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .reviews-container {
    padding: 120px 20px 80px 20px;
    background-color: rgba($bg-color-1, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    .reviews-wrapper {
      max-width: 800px;
      h2 {
        text-align: center;
        width: auto;
        color: $brown-color;
        padding: 0;
        margin: 0;
        font-size: 45px;
        font-weight: lighter;
      }
      p {
        color: $brown-color;
        font-size: 22px;
        margin-bottom: 70px;
      }
    }
    .review {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .work-card {
    background-color: rgba($gray-color, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 50px;
    box-shadow: 4px 4px 4px rgba($gray-color, 0.3);
    max-width: 800px;
    .top-card-section {
      .user-rate-box {
        font-size: 20px;
      }
      .user-review-box {
        font-size: 20px;
      }
    }
    .bottom-card-section {
      display: flex;
      .user-img-box {
        img {
          width: 70px;
          border-radius: 50%;
          margin-right: 20px;
        }
      }
      .user-info-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .user-name-box {
          font-size: 20px;
          font-weight: bolder;
          margin: 0;
          padding: 0;
        }
        .user-city-box {
          font-size: 15px;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
