@import "../../styles/config";

.most-rated-container {
  background-color: $bg-color-2;
  margin-top: 50px;
  padding: 20px 70px 70px 300px;
  h2 {
    color: $brown-color;
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
  }
  .rated-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: max-content;
    row-gap: 30px;
    column-gap: 20px;
  }
  .rated {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: $brown-color;
    box-shadow: 4px 4px 4px $brown-color;
    width: 100%;
    background-color: $primary-color;
    transition: background 0.5s, transform 0.5s;
    height: 220px;
    overflow: hidden;
    padding-bottom: 12px;
    h4 {
      padding: 5px 10px;
      margin: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      height: auto;
    }
    .rated:hover {
      background-color: $brown-color;
      transform: translateY(-10px);
      color: $brown-color;
    }
  }
}
