.justlogo-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 100px;
  z-index: 100;
  border-bottom: #00000025 1px solid;
  border-left: #00000025 1px solid;
}
.justlogo-container img {
  height: 80px;
}
/* MEDIA QUERIES */
@media (max-width: 750px) {
  /* JUSTLOGO */
  .justlogo-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 100;
    border-bottom: #00000025 2px solid;
    border-left: #00000025 2px solid;
  }
  .justlogo-container img {
    height: 50px;
  }
}
@media (min-width: 750.02px) and (max-width: 1400px) {
  .justlogo-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 100;
    border-bottom: #00000025 2px solid;
    border-left: #00000025 2px solid;
  }
  .justlogo-container img {
    height: 60px;
  }
}
@media (min-width: 1400.02px) and (max-width: 2100px) {
  .justlogo-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 100px;
    z-index: 100;
    border-bottom: #00000025 1px solid;
    border-left: #00000025 1px solid;
  }
  .justlogo-container img {
    height: 80px;
  }
}
