.full-recipe {
  display: flex;
  width: 70%;
  padding: 200px 150px 70px 300px;
  border: #074506 3px solid;
  border-radius: 7px;
  background-color: #075a0643;
  box-shadow: 10px 10px 8px #116e273d;
}
.left-column {
  padding-right: 50px;
  border: #086506 3px solid;
  border-radius: 7px;
  background-color: #fdffed;
  text-align: center;
}
.right-column {
  border: #086506 3px solid;
  border-radius: 7px;
  padding: 20px;
  background-color: #fdffed;
}
.full-recipe h2 {
  color: #0a2b10;
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
}
.full-recipe img {
  width: auto;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.full-recipe p {
  color: #0a2b10;
  font-size: 20px;
  margin-bottom: 10px;
}
/* MEDIA QUERIES */
@media (max-width: 750px) {
  .full-recipe {
    display: grid;
    grid-template-columns: (auto-fit, minmax(200px, 1fr));
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: none;
    background-color: #f7f6f8;
  }
  .left-column {
    margin-right: 0;
    border: none;
    border-radius: 0;
    padding: 5px 0 0 0;
    background-color: #14702243;
    text-align: center;
  }
  .right-column {
    margin-right: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    background-color: #f6f8f7;
    text-align: center;
  }
  .full-recipe h2 {
    text-align: center;
    margin: 5px;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .full-recipe img {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 0;
  }
  .full-recipe p {
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
@media (min-width: 750.02px) and (max-width: 1400px) {
  .full-recipe {
    display: grid;
    grid-template-columns: (auto-fit, minmax(200px, 1fr));
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: none;
    background-color: #f7f6f8;
  }
  .left-column {
    margin-right: 0;
    border: none;
    border-radius: 0;
    padding: 10px 0 0 0;
    background-color: #14702243;
    text-align: center;
  }
  .right-column {
    margin-right: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    background-color: #f6f8f7;
    text-align: center;
  }
  .full-recipe h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
  }
  .full-recipe img {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 0;
  }
  .full-recipe p {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1400.02px) and (max-width: 2100px) {
  .full-recipe {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 150px 200px 70px 200px;
    border: #074506 3px solid;
    border-radius: 20px;
    background-color: #075a0643;
  }
  .left-column {
    margin-bottom: 10px;
    border: #086506 3px solid;
    border-radius: 20px;
    padding: 10px;
    background-color: #fdffed;
    text-align: center;
  }
  .right-column {
    border: #086506 3px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: #fdffed;
  }
  .full-recipe h2 {
    color: #0a2b10;
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
  }
  .full-recipe img {
    width: 70%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .full-recipe p {
    color: #0a2b10;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
