.sidebar-container {
  height: 100%;
  width: 300px;
  min-width: 200px;
  border-right: #00000025 1px solid;
  z-index: 101;
  padding: 30px 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  margin-top: 87px;
}
.sidebar-toggle-btn {
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
  border: none;
  color: #093508;
}
.sidebar-container.open {
  left: 1px;
}
.sidebar-container.open ~ .search-result-container {
  margin-left: 400px;
  transition: margin-left 0.3s ease;
}
.sidebar-container.open ~ .popular-container {
  padding-left: 400px;
  transition: padding-left 0.3s ease;
}
.sidebar-container.open ~ .full-recipe {
  margin-left: 400px;
  transition: margin-left 0.3s ease;
}
.sidebar-container.open ~ .not-found-container {
  margin-left: 400px;
  transition: margin-left 0.3s ease;
}
.sidebar-container.open ~ .categories-container {
  margin-left: 400px;
  transition: margin-left 0.3s ease;
}
.sidebar-container.open ~ .most-rated-container {
  padding-left: 400px;
  transition: padding-left 0.3s ease;
}
.sidebar-container ul {
  margin: 80px 0 0 30px;
  list-style: none;
  padding: 0;
}
.sidebar-container li {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.sidebar-container li:hover {
  color: #208429;
  font-weight: 500;
}
/* MEDIA QUERIES */
@media (max-width: 750px) {
  .sidebar-container {
    height: 500%;
    width: 300px;
    min-width: 200px;
    border-right: #00000025 0 solid;
    z-index: 101;
    padding: 30px 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: -260px;
    transition: left 0.3s ease;
    margin-top: 0;
  }
  .sidebar-toggle-btn {
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    color: #093508;
  }
  .sidebar-container.open {
    background-color: #ffffff;
    left: -1px;
    box-shadow: #093508d1 4px 4px 4px 5000px;
  }
  .sidebar-container.open ~ .search-result-container {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .popular-container {
    padding-left: 400px;
    transition: padding-left 0.3s ease;
  }
  .sidebar-container.open ~ .full-recipe {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .not-found-container {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .categories-container {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .most-rated-container {
    padding-left: 400px;
    transition: padding-left 0.3s ease;
  }
  .sidebar-container ul {
    margin: 70px 0 0 30px;
    list-style: none;
    padding: 0;
  }
  .sidebar-container li {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }
  .sidebar-container li:hover {
    color: #208429;
    font-weight: 500;
  }
}
@media (min-width: 750.02px) and (max-width: 1400px) {
  .sidebar-container {
    height: 500%;
    width: 300px;
    min-width: 200px;
    border-right: #00000025 0 solid;
    z-index: 101;
    padding: 30px 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: -260px;
    transition: left 0.3s ease;
    margin-top: 0;
  }
  .sidebar-toggle-btn {
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 1px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    color: #093508;
  }
  .sidebar-container.open {
    background-color: #ffffff;
    left: -1px;
    box-shadow: #093508d1 4px 4px 4px 5000px;
  }
  .sidebar-container.open ~ .search-result-container {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .popular-container {
    padding-left: 400px;
    transition: padding-left 0.3s ease;
  }
  .sidebar-container.open ~ .full-recipe {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .not-found-container {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .categories-container {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .most-rated-container {
    padding-left: 400px;
    transition: padding-left 0.3s ease;
  }
  .sidebar-container ul {
    margin: 80px 0 0 30px;
    list-style: none;
    padding: 0;
  }
  .sidebar-container li {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }
  .sidebar-container li:hover {
    color: #208429;
    font-weight: 500;
  }
}
@media (min-width: 1400.02px) and (max-width: 2100px) {
  .sidebar-container {
    height: 100%;
    width: 300px;
    min-width: 200px;
    border-right: #00000025 1px solid;
    z-index: 101;
    padding: 30px 20px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    margin-top: 87px;
  }
  .sidebar-toggle-btn {
    background-color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    color: #093508;
  }
  .sidebar-container.open {
    left: 1px;
  }
  .sidebar-container.open ~ .search-result-container {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .popular-container {
    padding-left: 400px;
    transition: padding-left 0.3s ease;
  }
  .sidebar-container.open ~ .full-recipe {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .not-found-container {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .categories-container {
    margin-left: 400px;
    transition: margin-left 0.3s ease;
  }
  .sidebar-container.open ~ .most-rated-container {
    padding-left: 400px;
    transition: padding-left 0.3s ease;
  }
  .sidebar-container ul {
    margin: 80px 0 0 30px;
    list-style: none;
    padding: 0;
  }
  .sidebar-container li {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }
  .sidebar-container li:hover {
    color: #208429;
    font-weight: 500;
  }
}
