@import "../../styles/config";

.header-container {
  height: 50vh;
  display: flex;
  padding: 100px 20px 0 20px;
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  .left-header-container {
    h1 {
      font-weight: lighter;
      text-align: center;
      color: $brown-color;
    }
    .icons {
      display: flex;
      justify-content: center;
      img {
        width: 250px;
      }
    }
  }
  .right-header-container {
    img {
      width: auto;
    }
  }
}
