@import "../../styles/config";

.header-container {
  display: flex;
  padding: 100px 200px;
  justify-content: space-around;
  align-items: center;
  .left-header-container {
    h1 {
      font-weight: lighter;
      text-align: center;
      color: $brown-color;
    }
    .icons {
      display: flex;
      justify-content: center;
      img {
        width: 250px;
      }
    }
  }
  .right-header-container {
    img {
      width: auto;
    }
  }
}
