@import "../../styles/config";

.download-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  color: $brown-color;
  text-align: start;
  .left-download-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      text-align: left;
      font-size: 40px;
      font-weight: lighter;
    }
    .appstore-img {
      width: 35%;
    }
    .playstore-img {
      width: 35%;
    }
  }
  .right-download-container {
    display: flex;
    flex-direction: column;
    width: auto;
    .download-img {
      margin-top: auto;
    }
  }
}
