@import "../../styles/config";

.download-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  color: $brown-color;
  text-align: left;
  gap: 100px;
  .left-download-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    h2 {
      text-align: left;
      font-size: 40px;
      font-weight: lighter;
      margin: 0;
    }
    p {
      font-size: 22px;
    }
    .download-icons {
      a {
        margin-right: 30px;
      }
      img {
        width: 230px;
      }
    }
  }
  .right-download-container {
    display: flex;
    flex-direction: column;
    width: auto;
    .download-img {
      margin-top: auto;
    }
  }
}
