:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #e1e5d26a;
  --foreground-color: #green;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --toggle-bg: #208429;
  --toggle-fg: #214724;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
}
a {
  font-weight: 500;
  color: var(--toggle-fg);
  text-decoration: inherit;
}
a:hover {
  color: var(--toggle-bg);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
input {
  font-size: 27px;
  border: 3px solid #00000050;
  border-radius: 30px;
  margin-right: -10px;
  padding: 5px 120px 5px 20px;
  box-shadow: 4px 4px 4px #7e7e7e3a;
}
input:focus {
  outline: none;
}
.leaf-bg {
  position: fixed;
  bottom: -6px;
  right: 60px;
  z-index: -1;
}
.leaf-bg img {
  width: 300px;
}
.big-leaf-bg {
  position: fixed;
  bottom: -6px;
  right: 60px;
  z-index: -1;
}
.big-leaf-bg img {
  width: 500px;
}
/* NAVBAR */
.navbar-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 100px;
  z-index: 100;
  border-bottom: #00000025 1px solid;
  border-left: #00000025 1px solid;
}
.navbar-container img {
  height: 100px;
  margin-right: 200px;
}
.search-btn {
  border: 1px none var(--secondary-text-color);
  background-color: #ffffff;
  color: var(--toggle-fg);
  border-radius: 30px;
  font-size: 20px;
  margin-left: -55px;
  margin-top: 2px;
  padding: 2px 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
}
.search-btn:hover {
  border-color: none;
  background-color: transparent;
}
.search-btn:active {
  transform: scale(0.95);
}
/* SIDEBAR */
.sidebar-container {
  height: 100%;
  width: 300px;
  min-width: 200px;
  border-right: #00000025 1px solid;
  z-index: 101;
  padding: 30px 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  margin-top: 107px;
}
.sidebar-toggle-btn {
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
  border: none;
  color: #093508;
}
.sidebar-container.open {
  left: 1px;
}
.sidebar-container.open ~ .search-result-container {
  margin-left: 400px;
  transition: margin-left 0.3s ease;
}
.sidebar-container.open ~ .popular-container {
  margin-left: 400px;
  transition: margin-left 0.3s ease;
}
.sidebar-container.open ~ .full-recipe {
  margin-left: 400px;
  transition: margin-left 0.3s ease;
}
.sidebar-container.open ~ .not-found-container {
  margin-left: 400px;
  transition: margin-left 0.3s ease;
}
.sidebar-container ul {
  margin: 80px 0 0 30px;
  list-style: none;
  padding: 0;
}
.sidebar-container li {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.sidebar-container li:hover {
  color: #208429;
  font-weight: 500;
}
/* POPULAR */
.popular-container {
  margin: 150px 150px 70px 300px;
  border: #074506 5px solid;
  border-radius: 20px;
  padding: 20px;
  background-color: #0a4a0a18;
}
.popular-container h2 {
  margin-bottom: 60px;
  text-align: center;
  font-size: 40px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  row-gap: 40px;
  border-radius: 25px;
}
.card {
  display: grid;
  grid-template-columns: (auto-fit, minmax(200px, 1fr));
  text-align: center;
  flex-direction: column;
  border: 3px solid #116e27;
  border-radius: 25px;
  box-shadow: 4px 4px 4px #116e273d;
  width: 200px;
  background-color: #f7f7f7;
  margin-right: 10px;
  transition: background 0.5s, transform 0.5s;
}
.card:hover {
  background-color: #fff2d0b4;
  transform: translateY(-10px);
}
.card h4 {
  padding: 5px 5px;
}
.card img {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  width: 100%;
}
/* RESULTS */
.search-result-container {
  margin: 150px 300px 70px 400px;
}
.search-result-container h2 {
  margin-bottom: 60px;
  text-align: center;
  font-size: 40px;
}
.search-result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  row-gap: 40px;
  border-radius: 25px;
}
.result {
  display: grid;
  grid-template-columns: (auto-fit, minmax(200px, 1fr));
  text-align: center;
  flex-direction: column;
  border: 3px solid #00000050;
  border-radius: 25px;
  box-shadow: 4px 4px 4px #7e7e7e3a;
  width: 200px;
  background-color: #f7f7f7;
  margin-right: 10px;
  transition: background 0.5s, transform 0.5s;
}
.result:hover {
  background-color: #fff2d0b4;
  transform: translateY(-10px);
}
.result h4 {
  padding: 5px 5px;
}
.search-result-container img {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  width: 100%;
}
/* RECIPE */
.full-recipe {
  display: flex;
  width: 70%;
  margin: 200px 150px 70px 300px;
  border: #074506 3px solid;
  border-radius: 20px;
  padding: 20px;
  background-color: #3e9c3c43;
}
.left-column {
  margin-right: 50px;
  border: #086506 3px solid;
  border-radius: 20px;
  padding: 20px;
  background-color: #fdffed;
  text-align: center;
}
.right-column {
  border: #086506 3px solid;
  border-radius: 20px;
  padding: 20px;
  background-color: #fdffed;
}
.full-recipe h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
}
.full-recipe img {
  width: auto;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.full-recipe p {
  font-size: 20px;
  margin-bottom: 10px;
}
/* NOT FOUND PAGE */
.not-found-container {
  margin: 200px 500px 70px 500px;
  justify-content: center;
  margin-top: 200px;
  display: flex;
  color: #0a2b10;
}
/* CATEGORIES */
.categories-container {
  margin: 150px 300px 70px 400px;
}
.categories-container h2 {
  margin-bottom: 60px;
  text-align: center;
  font-size: 40px;
}
.categories-result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  row-gap: 40px;
  border-radius: 25px;
}
.category-result {
  display: grid;
  grid-template-columns: (auto-fit, minmax(200px, 1fr));
  text-align: center;
  flex-direction: column;
  border: 3px solid #00000050;
  border-radius: 25px;
  box-shadow: 4px 4px 4px #7e7e7e3a;
  width: 200px;
  background-color: #f7f7f7;
  margin-right: 10px;
  transition: background 0.5s, transform 0.5s;
}
.category-result:hover {
  background-color: #fff2d0b4;
  transform: translateY(-10px);
}
.category-result h4 {
  padding: 5px 5px;
}
.categories-container img {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  width: 100%;
}
/* MEDIA QUERIES */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--toggle-fg);
    background-color: var(--background-color);
  }
  a:hover {
    color: var(--toggle-bg);
  }
  button {
    background-color: var(--background-color);
  }
}
