:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #ffffff;
  --foreground-color: #green;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --toggle-bg: #74ff80;
  --toggle-fg: #214724;
}
a {
  font-weight: 500;
  color: var(--toggle-bg);
  text-decoration: inherit;
}
a:hover {
  color: var(--toggle-bg);
}
body {
  margin: 0 100px 0 100px;
  padding: 0;
  height: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
input {
  font-size: 27px;
  border: 3px solid #00000050;
  border-radius: 30px;
  margin-right: -10px;
  padding: 5px 120px 5px 20px;
  box-shadow: 4px 4px 4px #7e7e7e3a;
}
input:focus {
  outline: none;
}
/* NAVBAR */
.navbar-container {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 100px;
  z-index: 100;
}
.navbar-container img {
  height: 100px;
  margin-right: 200px;
}
.search-btn {
  border: 1px none var(--secondary-text-color);
  background-color: var(--background-color);
  color: var(--toggle-fg);
  border-radius: 30px;
  font-size: 20px;
  margin-left: -55px;
  margin-top: 2px;
  padding: 2px 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
}
.search-btn:hover {
  border-color: none;
  background-color: transparent;
}
/* HOME */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.home-title-container {
  display: flex;
  justify-content: center;
}
.home-title-container h2 {
  font-size: 35px;
}
.select-menu {
  display: flex;
  text-align: center;
  margin-top: 130px;
}
.select-menu div {
  display: flex;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px #7e7e7e3a;
  width: 100px;
  background-color: #00000009;
  margin-top: 100px;
  margin-right: 10px;
  cursor: pointer;
}
.popular-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
  padding-top: 100px;
}
.popular-container h2 {
  font-size: 35px;
}
.card-container {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px #7e7e7e3a;
  width: 400px;
  background-color: #00000009;
  margin-right: 10px;
}
.card img {
  border-radius: 25px;
  width: 400px;
}
.view-recipe-btn {
  display: block;
  margin-top: 20px;
  width: fit-content;
  border: none;
  background-color: #4eb6615a;
  font-size: 20px;
  padding: 15px 50px;
  border-radius: 5px;
  color: $primary-color;
  font-weight: 500;
  transition: backgroud 0.5s;
  cursor: pointer;
}
.view-recipe-btn:hover {
  background-color: hsla(119, 56%, 49%, 0.264);
}
.view-recipe-btn:active {
  transform: scale(0.98);
}
/* FOOTER */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 100px;
  background-color: #4c8e342d;
  z-index: 50;
}
/* RECIPE */
.recipe-container {
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--toggle-fg);
    background-color: var(--background-color);
  }
  a:hover {
    color: var(--toggle-bg);
  }
  button {
    background-color: var(--background-color);
  }
}
