@import "../../styles/config";

.not-found-container {
  background-color: $bg-color-3;
  padding: 200px 100px 100px 100px;
  display: flex;
  justify-content: center;
  display: flex;
  color: $brown-color;
  h2 {
    font-size: 50px;
    font-weight: lighter;
  }
  img {
    width: 220px;
  }
}
